<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:include="layout">
<body>
<div th:fragment="content">
	<h1>Novo Evento</h1>
	<form method="POST" th:action="@{/child/} + ${event.child.id} + '/events/save'" th:object="${event}" class="form-horizontal">	
		<div class="form-group">
			<label for="inputMessage" class="col-sm-2 control-label">Evento</label>
			<div class="col-sm-10">
				<input id="inputMessage" type="text" th:field="*{message}" th:class="${#fields.hasErrors('message')}? 'error'" size="80"></input>
			</div>
			<span th:if="${#fields.hasErrors('message')}" th:errors="*{message}">Error description</span>
		</div>
		
		<div class="form-group">
			<label for="inputDate" class="col-sm-2 control-label">Data do evento</label>
			<div class="col-sm-10">
				<input id="inputDate" type="text" th:field="*{date}" th:class="${#fields.hasErrors('date')}? 'error'"></input>
			</div>
			<span th:if="${#fields.hasErrors('date')}" th:errors="*{date}">Error description</span>
		</div>
		
		<div class="form-group">
    	<div class="col-sm-offset-2 col-sm-10">
				<input type="submit" value="Cadastrar"></input>
    	</div>
    </div>
	</form>
</div>
</body>

</html>