<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:include="layout">
<body>
<div th:fragment="content">
	<h3>Eventos registrados</h3>
	<table class="table">
		<thead>
			<td>Evento</td>
			<td>Data</td>
		</thead>
		<tr th:each="event: ${events}">
			<td>
				<a th:href="@{/child/} + ${event.child.id} + '/events/show/' + ${event.id}" th:text="${event.message}">Message</a>
			</td>
			<td>
				<span th:text="${#dates.format(event.date, 'dd-MM-yyyy')}">Date</span>
			</td>
		</tr>
	</table>
	
	<div>
		<a class="btn btn-primary" th:href="@{events/new}">Novo</a>
	</div>	
</div>
</body>
</html>