<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:include="layout">
<body>
<div th:fragment="content">
	<h3>Criança cadastrada</h3>
	<div>
		<span class="col-sm-2">Nome</span>
		<span class="col-sm-10" th:text="${child.name}">    Name    </span>
	</div>
	<div>
		<span class="col-sm-2">Data de nascimento</span>
		<span class="col-sm-10" th:text="${#dates.format(child.birthday, 'dd-MM-yyyy')}">Birthday</span>
	</div>
	<div>
		<a class="btn btn-primary" th:href="${child.id} + @{/events}" > Exibir eventos</a>
	</div>
</div>
</body>
</html>